<div class="container">
    <h1>Sensei Trainee Management</h1>
    <img
        src="https://cdn.cutshort.io/public/companies/5d7ce9e9a66cbd132799440e/optimised/coverPictureURL_1627618843188">
    <br>
    <button mat-raised-button color="primary" (click)="btnClick()"
        [routerLink]="['/registration']">Registration</button>
    <button mat-raised-button color="accent" [routerLink]="['/login']">Login</button>
    <h3>Sensible solutions - ours </h3>
    <h3>applications - yours</h3>
    <h3>Smart people - your workforce</h3>
</div>