.field {
    margin-left: 2.5%;
    width: 95%;
}

.card {
    
    background-color: whitesmoke;
    column-gap: 5px;
    width: 35%;
    margin: auto;
}

h1{ 
    margin-left: 5%;
    margin-bottom: 5%;
}

.btn {
    justify-content: center;
    display: flex;
    text-align: center;
}

button {
    margin-left: 10px;
    margin-top: 5px;
}